*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: aliceblue;
}

main{
    max-width: 2000px;
    margin: 0 auto;
    margin-top: 1em;
}

.card__container{
    width: 80%;
    padding: 1%;
    gap: 1%;
    margin: 0 auto;
    display: flex;
    border-right: 1px solid black;
    border-left: 1px solid black;
    justify-content: center;
    flex-wrap: wrap;

}

.card__item{
    background-color: #FFF;
    padding: 1% 0;
    height: 60vh;
    max-height: 400px;
    box-shadow: 0.1rem 0.1rem 0.2rem rgb(150, 191, 191);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 300px;
    margin: 0.5% 0;
}

img{
    object-fit: contain;
    width: 100%;
    align-self: center;
    margin: 0 auto;
    aspect-ratio: 16/10;
    background-color: rgb(246, 246, 245);
}

.card__nome{
    margin-top: 5%;
    font-size: 1.2rem;
    padding: 1% 2%;
}

.card__preco{
    font-size: 1rem;
    padding: 1% 2%;
}

.card__descricao{
    padding: 1% 2%;
    font-size: 0.9rem;
}

.card__item > button{
    border: none;
    background-color: rgb(15, 15, 218);
    color: white;
    border-radius: 20rem;
    width: 50%;
    height: 10%;
    max-height: 10%;
    margin-top: auto;
    align-self: center;
    transition: transform .5s;
}

.card__item > button:hover{
    transform: scale(1.05);
}


h1{
    text-align: center;
}

footer{
    text-align: center;
    width: 100%;
}

/* Header */

header{
    background-color: rgb(85, 170, 245);
    position: sticky;
    top: 0;
    height: 7vh;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul,nav{
    height: 7vh;
}

ul > li{
    display: inline-block;
}

li {
   a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
   }
   
   a:hover{
    text-decoration: underline;
    color: rgb(233, 228, 228);
   }
}